<!DOCTYPE html>
  <html>
    <head>
      <title>Skills List</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Skills List</h1>
        <ul>
          <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                  </form>
              <%= s.skill %>
                - 
              <%= s.level %>
            </li>
          <% }); %>
        </ul>
        <a href="/skills/new">Add New Skill</a>
        <h3>Skills as of <%= time %></h3>
    </body>
  </html>